<template>
    <v-card class="mx-auto my-5" width="400px">
        <v-card-title>{{ brand }}</v-card-title>
        <hr />
        <v-card-text>{{ description }}</v-card-text>
        <v-img :src="img" height="200px" class="center"></v-img>
        <NuxtLink :to="`/products${id}`" class="button">
            <v-btn class="mx-3 my-5 text-center">
                For Details
            </v-btn>
        </NuxtLink>
    </v-card>
</template>

<script>
export default{
    props:[
        'brand',
        'description',
        'img',
        'id'
    ]
}
</script>

<style scoped></style>