<template>
    <div>
        <h3>Total Price</h3>
        <h5>{{ productStore.totalPrice() }} $</h5>
    </div>
</template>

<script>
import { useProductStore } from '../stores/productStore'
export default {
    data() {
        return {
            productStore : useProductStore()
        }
    }
}
</script>

<style scoped>
h3 {
    color: palevioletred;
}

h5 {
    font-size: large;
    margin-top: 10px;
}
</style>