<template>
    <head>
        <title>{{ title }}</title>
    </head>
    <header>
        <div class="header-items">
            <div class="header-logo">
                <a href="/"><v-img src="../public/img/logo.png" :width="50" :height="50" :margin="30"></v-img></a>
            </div>
            <nuxt-icon name="menubar" @click="showMenu()" class="menu-bar"></nuxt-icon>
            <v-list class="nav-content" :class="showMobileMenu ? 'open-menu' : 'closed-menu'">
                <v-list-item class="nav-item">
                    <nuxt-link class="nav-link" to="/work">WORK</nuxt-link>
                    <nuxt-link class="nav-link" to="/about">ABOUT</nuxt-link>
                    <nuxt-link class="nav-link" to="/social">SOCIAL</nuxt-link>
                    <nuxt-link class="nav-link" to="/products">PRODUCTS</nuxt-link>
                    <nuxt-link class="nav-link contact-link" to="/contact">CONTACT</nuxt-link>
                </v-list-item>
            </v-list>
            <v-list class="mobile-nav-content" :class="showMobileMenu ? 'open-menu' : 'closed-menu'">
                <v-list-item class="mobile-nav-item">
                    <nuxt-link class="mobile-nav-link" to="/work">WORK</nuxt-link>
                    <nuxt-link class="mobile-nav-link" to="/about">ABOUT</nuxt-link>
                    <nuxt-link class="mobile-nav-link" to="/social">SOCIAL</nuxt-link>
                    <nuxt-link class="mobile-nav-link" to="/products">PRODUCTS</nuxt-link>
                    <nuxt-link class="mobile-nav-link" to="/contact">CONTACT</nuxt-link>
                </v-list-item>
                <nuxt-icon name="xmark" class="xMark" @click="hideMenu()"></nuxt-icon>
            </v-list>
        </div>
    </header>
    <div class="content">
        <slot />
    </div>
    <footer class="footer">
        <p></p>
    </footer>
</template>

<script>
import { ref } from 'vue'
export default {
    data() {
        return {
            showMobileMenu: false,
            title : ref('My Blog')
        }
    },
    methods: {
        showMenu() {
            if (this.showMobileMenu === false)
                this.showMobileMenu = !this.showMobileMenu;
        },
        hideMenu() {
            if (this.showMobileMenu === true)
                this.showMobileMenu = !this.showMobileMenu;
        }

    }
}
</script>


<style>
.content {
    min-height: 100vh;
}

.footer {
    padding: 2%;
    background-color: lavenderblush;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer .row {
    margin: 0;
}

header {
    margin: 4%;
}

.mobile-nav-content {
    display: none;
}

.menu-bar {
    display: none;
}

.header-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.nav-content {
    display: flex;
}

.nav-link {
    margin-right: 100px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}

.nav-link:hover {
    color: palevioletred;
}

.contact-link {
    margin-left: 140px;
}

@media screen and (max-width: 768px) {
    .menu-bar {
        display: block;
        margin-right: 30px;
    }

    .open-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: #fff;
        border-left: 1px solid #eee;
    }

    .closed-menu {
        display: none;
    }

    .menu-bar {
        display: block;
        font-size: xx-large;
    }

    .nav-content {
        display: none;
    }

    .nav-item {
        margin: 0;
    }

    .mobile-nav-content {
        text-align: right;
        right: 25px;
        height: 300px;
        width: 200px;
        margin-right: 0;
        margin-top: 100px;
    }

    .mobile-nav-link {
        text-decoration: none;
        color: black;
        font-weight: bold;
        display: block;
        text-align: right;
        margin-right: 20px;
    }

    .mobile-nav-link:hover {
        color: palevioletred;
    }

    .xMark {
        margin-right: 40px;
        margin-top: 20px;
        font-size: xx-large;
    }

    .xMark:hover {
        color: palevioletred;
    }
}</style>