<template>
  <div class="row">
    <div class="aboutTextDiv col">
      <h1>Who Am I ?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col aboutImgDiv">
      <img
        src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
    </div>
  </div>
</template>

<script setup>

</script>

<style>
.row {
  display: flex;
  margin: 20px;
}

.col {
  flex: 50%;
  padding: 10px;
  margin-left: 2%;
}

@media (max-width: 768px) {
  .row {
    display: block;
  }
}

.aboutTextDiv h1 {
  font-family: monospace;
  border-right: 4px solid;
  width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(10), blinking 0.5s infinite step-end alternate;
  color: palevioletred;
  margin-top: 10%;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

.animatedDiv img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.aboutImgDiv img {
  height: auto;
  width: 250px;
  border-radius: 10%;
  display: block;
  margin: auto;
}</style>