<template>
    <h1 class="text-center">{{ productStore.name }}</h1>
    <v-row>
        <v-col cols="12" lg="6">
            <v-row class="container" v-for="item in productStore.products" :key="item">
                <v-col>
                    <v-img class="img" :src="item.images[0]"></v-img>
                </v-col>
                <v-col>
                    <p class="mb-5">{{ item.title }}</p>
                    <p class="mb-5">{{ item.price }} $</p>
                    <span class="mt-5 mx-2" @click="productStore.incrementCount(item)"><nuxt-icon
                            name="plus"></nuxt-icon></span>
                    <span class="mt-5 mx-2">{{ item.count }}</span>
                    <span class="mt-5 mx-2" @click="productStore.decrementCount(item)"><nuxt-icon
                            name="minus"></nuxt-icon></span>
                </v-col>
                <v-btn @click="productStore.deleteProduct(item)"><nuxt-icon name="xmark"></nuxt-icon></v-btn>
            </v-row>
        </v-col>

        <v-col cols="12" lg="6">
            <totalOfCart></totalOfCart>
        </v-col>
    </v-row>
</template>

<script>
import { useProductStore } from '../stores/productStore';
import totalOfCart from '../components/totalOfCart'
export default {
    data(){
        return{
            productStore : useProductStore()
        }
    },
    components: {
        totalOfCart
    },
}
</script>

<style scoped>
.container {
    margin: 5px;
    border: 1px solid rgb(134, 134, 134);
}

.img {
    height: 100px;
}
</style>