<template>
  <div class="contactTextDiv row">
    <div class="col text">
      <h1>Contact Me</h1>
      <h3>Need to get in touch with me? Either fill out the form with your inquiry or find the my email at the below.</h3>
    </div>
    <br />
    <div class="col form">
      <form>
        <label class="col">First Name</label><br />
        <input class="col" type="text" required /><br />
        <label class="col">Last Name</label><br />
        <input class="col" type="text" required /><br />
        <label>Email</label><br />
        <input type="email" required /><br />
        <label>What Can I Help You With?</label><br />
        <textarea type="text" required></textarea><br />
        <button class="btn">Submit</button>
      </form>
    </div>
  </div>
</template>

<script setup>

</script>

<style>
.contactTextDiv {
  text-align: center;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  margin-bottom: 300px;
}

.contactTextDiv h1 {
  color: palevioletred;
  margin-top: 10%;
  margin-bottom: 5%;
}

.btn {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 20px;
}

.btn:hover {
  background-color: #4b4b4b;
  color: #fff;
}

input {
  border: 1px solid black;
  margin-bottom: 20px;
  width: 300px;
}

textarea {
  border: 1px solid black;
  margin-bottom: 30px;
  width: 300px;
  height: 100px;
}

label {
  color: palevioletred;
  font-weight: bold;
}

.form {
  margin: 0 40px;
  border: 1px solid rgb(121, 121, 121);
}

form {
  margin: 20px;
}

@media (max-width: 768px) {
  input {
    width: 200px;
  }

  textarea {
    width: 200px;
  }
}</style>