<template>
    <v-row class="mt-10 mx-16 home">
        <v-col lg="6" sm="12" class="mt-16">
            <h1>Welcome,</h1>
            <p>I am Ramon, a product designer from Barcelona currently working with <color>Red Bull </color>
                and teaching design at <color>SketchCasts</color>. In the past, I worked for clients such as
                Varner and Intersport.
            </p>
        </v-col>
        <v-col lg="6" sm="12">
            <v-img class="image" :height="650" :width="auto" :position="fixed" src="../public/img/man.png"></v-img>
        </v-col>
    </v-row>
</template>

<script setup>
definePageMeta({
    layout: 'index'
})
</script>

<style>
.home h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    margin-top: 20%;
}

.home p {
    font-family: 'Assistant', sans-serif;
    font-size: x-large;
}

color {
    color: palevioletred;
}

@media (max-width: 768px) {
    .row {
        display: block;
    }
}
</style>