<template>
    <h1 class="text-center my-5">PRODUCTS</h1>
    <v-row>
        <v-col :sm="12" :md="6" :lg="4" v-for="(product, index) in products" :key="index">
            <card :brand="product.brand" :description="product.description" :img="product.images[0]" :id="product.id"></card>
        </v-col>
    </v-row>
</template>


<script>
import axios from 'axios';
import card from '@/components/card.vue'
export default {
    data() {
        return {
            url: 'https://dummyjson.com/products',
            products: [],
            card
        }
    },
    created() {
        axios.get(this.url).then(response => (this.products = response.data.products));
    },
    

}
</script>
<style scoped>
.button {
    text-decoration: none;
    border: none;
    color: black;
}

.button:hover {
    color: palevioletred;
    align-content: center;
}
</style>
