<template>
    <v-container v-if="productDetail">
        <v-row>
            <v-col cols="12" md="6">
                <v-carousel>
                    <v-carousel-item v-for="(img) in productDetail.images" :key="img" :src="img"></v-carousel-item>
                </v-carousel>
            </v-col>
            <v-col cols="12" md="6">
                <h2 class="text-center">Product Details</h2>
                <hr />
                <ul>
                    <li><b>Title: </b> {{ productDetail.title }}</li>
                    <hr />
                    <li><b>Brand: </b>{{ productDetail.brand }}</li>
                    <hr />
                    <li><b>Category: </b>{{ productDetail.category }}</li>
                    <hr />
                    <li><b>Description: </b>{{ productDetail.description }}</li>
                    <hr />
                    <li><b>Discount Percentage: </b>{{ productDetail.discountPercentage }}</li>
                    <hr />
                    <li><b>Rating: </b>{{ productDetail.rating }}</li>
                    <hr />
                    <li><b>Stock: </b>{{ productDetail.stock }}</li>
                    <hr />
                    <li><b>Price: </b>{{ productDetail.price }}</li>
                    <label>How much you want to add?</label><br/>
                    <span class="mt-5 mx-2" @click="incrementCount()"><nuxt-icon
                            name="plus"></nuxt-icon></span>
                    <input type="text" class="input" v-model="count"/>
                    <span class="mt-5 mx-2" @click="decrementCount()"><nuxt-icon
                            name="minus"></nuxt-icon></span>
                    <v-btn class="btn"  v-on:click="productStore.addProduct({ ...productDetail, count: count })" @click="clearInput()" >Add To
                        Cart</v-btn>
                </ul>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { useProductStore } from '../stores/productStore'
import axios from 'axios';

export default {

    data() {
        return {
            productId: 0,
            productDetail: null,
            productStore : useProductStore(),
            count:1
        }
    },
    mounted() {
        const route = useRoute()
        this.productId = route.params.id
        this.getProductById()
    },
    methods: {
        getProductById() {
            axios.get('https://dummyjson.com/products/' + this.productId).then(response => (this.productDetail = response.data))
        },
        clearInput(){
            this.count=''
        },
        incrementCount(){
            this.count++;
        },
        decrementCount(){
            if(this.count!==0)
            this.count--;
        }
        
    },
}
</script>

<style scoped>
li {
    list-style: none;
    margin: 20px;
}

li b {
    color: palevioletred;
}

.input {
    border: 1px solid;
    border-radius: 10px;
}

.btn {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}</style>