<template>
  <div class="socialTextDiv">
    <h1>If you interested my works you can check my accounts and follow me 🩶</h1>
    <h2>Just click links at the below</h2>
    <div class="icons">
      <a href=""><nuxt-icon name="linkedin"></nuxt-icon></a>
      <a href=""><nuxt-icon name="dribbble"></nuxt-icon></a>
      <a href=""><nuxt-icon name="twitter"></nuxt-icon></a>
      <a href=""><nuxt-icon name="pinterest"></nuxt-icon></a>
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: 'default'
})
</script>

<style>
.socialTextDiv h1 {
  color: palevioletred;
  margin-top: 10%;
  text-align: center;
}

.socialTextDiv h2 {
  text-align: center;
}

.socialTextDiv .icons {
  margin-top: 8%;
  font-size: 50px;
  text-align: center;
}

.socialTextDiv a {
  color: black;
  margin: 5%;
  text-align: center;
}

.socialTextDiv a:hover {
  color: gray;
}</style>